<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="stylesheet" href="/css/events.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,500;1,600&display=swap"
			rel="stylesheet"
		/>
		<title>{{ title }}{% if type %}, {{type}}{% endif %} | Lunch.dev Community Calendar</title>
		<meta property="description" content="{% if description %}{{description}}{% endif %}" />
		<meta property="og:title" content="{{ title }}{% if type %}, {{type}}{% endif %} | Lunch.dev Community Calendar" />
		<meta property="og:description" content="{{ date }} — {% if description %}{{description}}{% endif %}" />
		<meta property="og:type" content="article" />
		<meta
			property="og:image"
			content="https://res.cloudinary.com/chantastic/image/upload/l_text:Roboto_100_bold:lunch.dev/v1610689497/white-twitter-card_rrnh0v.jpg"
		/>
		<meta property="og:image:alt" content="lunch.dev" />
		<meta property="twitter:card" content="summary_large_image" />
	</head>
	<body data-typeface="system-ui">
		{% include partials/header.html %}
		<div data-layout="centered-single-column">
			<main class="events-page">
				<h1>{{ title }}</h1>
				<small> {% if speakers %} {{ speakers | join: ', ' }} &middot; {% endif %} {{ date }} </small>
				{% include partials/add-to-cal.html %} {{ content }}
				<p>Join this event <a href="https://discord.com/invite/q9ZdBgP">in Discord</a></p>
			</main>
		</div>
	</body>
</html>
