<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include partials/favicon.html %}
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="stylesheet" href="/css/elements.css" />
		<link rel="stylesheet" href="/css/homepage.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,500;1,600&display=swap"
			rel="stylesheet"
		/>
		<title>Lunch.dev Community Calendar</title>
		<script src="/js/localize-dates.js" defer></script>
	</head>
	<body data-typeface="system-ui">
		{% include partials/header.html %}
		<main data-layout="centered-single-column">
			{% if collections.todaysEvents %}
			<h2 class="events-title">Today</h2>
			<section id="todays-events-section" class="events-section">
				{% for event in collections.todaysEvents %}
				<article aria-labelledby="{{ event.data.title | slug }}" class="event-item">
					<h3 id="{{ event.data.title | slug }}">{{ event.data.title }}</h3>

					<p class="fg1 block subtitle">
						<span>{% if event.data.type %}{{ event.data.type }} &middot; {% endif %}</span>
						<time datetime="{{event.data.date | toISOString }}">{{ event.data.date | asDateTime }}</time>
					</p>

					<ul
						data-unstyled-list
						data-flex-stack
						style="--flex-stack--direction: row; --flex-stack--gap: 0.25rem"
						class="event-item__speaker-list"
					>
						{% for speaker in event.data.speakers %}
						<li>
							<img data-avatar src="{{people[speaker] | personAvatar}}" alt="{{speaker}}" />
						</li>
						{% endfor %}
					</ul>

					<a href="{{ event.url }}" aria-label="View Details for {{ event.data.title }}">View Details &#8250;</a>
				</article>
				{% endfor %}
			</section>
			{% endif %}

			<h2 class="events-title">Upcoming Events</h2>
			<section id="upcoming-events-section" class="events-section">
				{% for event in collections.upcomingEvents %}
				<article aria-labelledby="{{ event.data.title | slug }}" class="event-item">
					<h3 id="{{ event.data.title | slug }}">{{ event.data.title }}</h3>

					<p class="fg1 block subtitle">
						<span>{% if event.data.type %}{{ event.data.type }} &middot; {% endif %}</span>
						<time datetime="{{event.data.date | toISOString }}">{{ event.data.date | asDateTime }}</time>
					</p>

					<ul
						data-unstyled-list
						data-flex-stack
						style="--flex-stack--direction: row; --flex-stack--gap: 0.25rem"
						class="event-item__speaker-list"
					>
						{% for speaker in event.data.speakers %}
						<li>
							<img data-avatar src="{{people[speaker] | personAvatar}}" alt="{{speaker}}" />
						</li>
						{% endfor %}
					</ul>

					<a href="{{ event.url }}" aria-label="View Details for {{ event.data.title }}">View Details &#8250;</a>
				</article>
				{% endfor %}
			</section>

			<h2 class="events-title">Past Events</h2>
			<section id="past-events-section" class="events-section">
				{% for event in collections.pastEvents reversed %}
				<article aria-labelledby="{{ event.data.title | slug }}" class="event-item">
					<h3 id="{{ event.data.title | slug }}">{{ event.data.title }}</h3>
					<p class="fg1 block subtitle">
						<span>{% if event.data.type %}{{ event.data.type }} &middot; {% endif %}</span>
						<time datetime="{{event.data.date | toISOString }}">{{ event.data.date | asDateTime }}</time>
					</p>

					<ul
						data-unstyled-list
						data-flex-stack
						style="--flex-stack--direction: row; --flex-stack--gap: 0.25rem"
						class="event-item__speaker-list"
					>
						{% for speaker in event.data.speakers %}
						<li>
							<img data-avatar src="{{people[speaker] | personAvatar}}" alt="{{speaker}}" />
						</li>
						{% endfor %}
					</ul>

					<a href="{{ event.url }}" aria-label="View Details for '{{ event.data.title }}'">View Details &#8250;</a>
				</article>
				{% endfor %}
			</section>
		</main>
		{% include partials/footer.html %}
	</body>
</html>
