<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include partials/favicon.html %}
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="stylesheet" href="/css/elements.css" />
		<link rel="stylesheet" href="/css/homepage.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,500;1,600&display=swap"
			rel="stylesheet"
		/>
		<title>Lunch.dev Community Calendar</title>
		<script src="/js/localize-dates.js" defer></script>
	</head>
	<body data-typeface="system-ui">
		{% include partials/header.html %}
		<main data-layout="centered-single-column">
			<section id="next-event-section" aria-labelledby="next-event" class="events-section">
				{% assign nextEvent = collections.upcomingEvents | first %}
				<article aria-labelledby="{{ nextEvent.data.title | slug }}" class="event-item">
					<h3 id="{{ nextEvent.data.title | slug }}">{{ nextEvent.data.title }}</h3>

					<p class="fg1 block subtitle">
						<span>{% if nextEvent.data.type %}{{ nextEvent.data.type }} &middot; {% endif %}</span>
						<time datetime="{{nextEvent.data.date | toISOString }}">{{ nextEvent.data.date | asDateTime }}</time>
					</p>

					<ul
						data-unstyled-list
						data-flex-stack
						style="--flex-stack--direction: row; --flex-stack--gap: 0.25rem"
						class="event-item__speaker-list"
					>
						{% for speaker in nextEvent.data.speakerDetails %}
						<li>
							<img data-avatar src="{{ speaker.avatar }}" alt="{{ speaker.name }}" />
						</li>
						{% endfor %}
					</ul>

					<a
						href="{{ nextEvent.url }}"
						class="event-details-link"
						aria-label="View Details for {{ nextEvent.data.title }}"
						>View Details &#8250;</a
					>
				</article>

				<article class="event-item" id="recurring-events">
					<h5>Tuesdays &middot; 1PM EDT</h5>
					<ul>
						<li>
							<a
								href="https://www.twitch.tv/someanticsdev"
								target="_blank"
								rel="noreferrer noopener"
								style="background-color: #ffe56a; color: #743c9b"
								><strong>Some Antics</strong></a
							>
						</li>
					</ul>

					<h5>Wednesdays &middot; 1PM EDT</h5>
					<ul>
						<li>
							<a
								href="https://anchor.fm/single-threaded"
								target="_blank"
								rel="noreferrer noopener"
								class="discontinued-event"
								><strong>Single-Threaded Episode Listening Party</strong></a
							>
							<!-- style="color:#E61F83;"  -->
						</li>
					</ul>

					<h5>Thursdays &middot; 1PM EDT</h5>
					<ul>
						<li>
							<a href="/typescript-in-50-lessons-book-club-intro/" style="color: #235a97"
								><strong>TypeScript in 50 Lessons Book CLub</strong></a
							>
						</li>
						<li>
							<a
								href="https://reactpodcast.simplecast.com/"
								target="_blank"
								rel="noreferrer noopener"
								class="discontinued-event"
								><strong>React Podcast Episode Listening Party</strong></a
							>
							<!-- style="background-color:#FFE001;color:#222222;"  -->
						</li>
					</ul>

					<p class="recurring-info-message"><span class="discontinued-event">Event</span> = temporarily discontinued</p>
				</article>
			</section>

			<h2 class="events-title">Upcoming Events</h2>
			<section id="upcoming-events-section" class="events-section">
				{% assign upcomingEvents = collections.upcomingEvents | slice: 1, collections.upcomingEvents.length %} {% for
				event in upcomingEvents %}
				<article aria-labelledby="{{ event.data.title | slug }}" class="event-item">
					<h3 id="{{ event.data.title | slug }}">{{ event.data.title }}</h3>

					<p class="fg1 block subtitle">
						<span>{% if event.data.type %}{{ event.data.type }} &middot; {% endif %}</span>
						<time datetime="{{event.data.date | toISOString }}">{{ event.data.date | asDateTime }}</time>
					</p>

					<ul
						data-unstyled-list
						data-flex-stack
						style="--flex-stack--direction: row; --flex-stack--gap: 0.25rem"
						class="event-item__speaker-list"
					>
						{% for speaker in event.data.speakerDetails %}
						<li>
							<img data-avatar src="{{speaker.avatar}}" alt="{{speaker.name}}" />
						</li>
						{% endfor %}
					</ul>

					<a href="{{ event.url }}" class="event-details-link" aria-label="View Details for {{ event.data.title }}"
						>View Details &#8250;</a
					>
				</article>
				{% endfor %}

				<a href="/sesh" class="event-item" id="add-event-link">
					{% include partials/add.svg %}
					<span>*Insert Your Awesome Event Idea Here*</span>
				</a>
			</section>

			<h2 class="events-title">Past Events</h2>
			<section id="past-events-section" class="events-section">
				{% for event in collections.pastEvents reversed %}
				<article aria-labelledby="{{ event.data.title | slug }}" class="event-item">
					<h3 id="{{ event.data.title | slug }}">{{ event.data.title }}</h3>
					<p class="fg1 block subtitle">
						<span>{% if event.data.type %}{{ event.data.type }} &middot; {% endif %}</span>
						<time datetime="{{event.data.date | toISOString }}">{{ event.data.date | asDateTime }}</time>
					</p>

					<ul
						data-unstyled-list
						data-flex-stack
						style="--flex-stack--direction: row; --flex-stack--gap: 0.25rem"
						class="event-item__speaker-list"
					>
						{% for speaker in event.data.speakerDetails %}
						<li>
							<img data-avatar src="{{speaker.avatar}}" alt="{{speaker.name}}" />
						</li>
						{% endfor %}
					</ul>

					<a href="{{ event.url }}" class="event-details-link" aria-label="View Details for '{{ event.data.title }}'"
						>View Details &#8250;</a
					>
				</article>
				{% endfor %}
			</section>
		</main>
		{% include partials/footer.html %}
	</body>
</html>
