<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS  -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<!-- ============== -->
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,500;1,600&display=swap"
			rel="stylesheet"
		/>
		<title>{{ title }} | Lunch.dev Community Calendar</title>
	</head>
	<body data-typeface="system-ui">
		{% include partials/header.html %}
		<div data-layout="centered-single-column">
			<main>
				<div class="container">
					<h1>{{ title }}</h1>
					{{ content }}
				</div>
			</main>
		</div>
	</body>
</html>
