[data-icon] {
	display: var(--icon--display, inline-block);
	width: var(--icon--width, 1em);
	height: var(--icon--height, 1em);
	fill: var(--icon--fill, currentColor);
}

[data-icon='inline'] {
	--icon--width: 1.25em;
	--icon--height: 1.25em;
	vertical-align: -0.25em;
}
