[data-icon] {
	display: var(--icon--display, inline-block);
	width: var(--icon--width, 1em);
	height: var(--icon--height, 1em);
	fill: var(--icon--fill, currentColor);
}

[data-icon='inline'] {
	--icon--width: 1.25em;
	--icon--height: 1.25em;
	vertical-align: -0.25em;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	vertical-align: -0.25em;
	fill: currentColor;
}

[data-button] {
	-moz-appearance: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-appearance: none;
	-webkit-user-select: none;
	appearance: none;
	box-sizing: border-box;
	border-width: var(--button--border-width, 1px);
	border-style: solid;
	border-color: var(--button--border-color, fuchsia);
	background-image: var(--button--background-image);
	background-color: var(--button--background-color, fuchsia);
	border-radius: var(--button--border-radius, 4px);
	color: var(--button--color, blue);
	cursor: pointer;
	display: inline-block;
	font-weight: var(--button--font-weight, 600);
	position: relative;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	transition: 100ms all ease-in-out;
	font-size: var(--button--font-size, 14px);
	padding: var(--button--padding, 0 16px);
	line-height: calc(var(--button--height, 32px) - calc(var(--button--border-width, 1px) * 2));
	box-shadow: var(--button--box-shadow);
	background-image: var(--button--background-image);
}
input[type='submit'][data-button] {
	text-align: center;
}
button[data-button] {
}
a[data-button] {
	text-align: center;
	text-decoration: none;
}
