.events-section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0;
}

.events-title {
	margin-left: 16px;
}

.event-item {
	position: relative;
	width: calc(33% - 32px);
	min-height: 140px;
	margin: 16px;
	padding: 16px;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px, rgba(0, 0, 0, 0.11) 0px 6.4px 14.4px;
	background-color: white;

	display: flex;
	flex-direction: column;
}

.event-item .subtitle {
	color: #78757f;
	font-style: italic;
	align-items: stretch;
	font-size: 0.8em;
}

.fg1 {
	flex-grow: 1;
}

.event-item a {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 4px 8px;
	border-radius: 8px;

	display: block;
	align-self: flex-end;
	width: fit-content;

	margin-top: 1.5em;
}

.event-item a:hover {
	opacity: 0.8;
}

.event-item a:focus-visible {
	outline-color: #ba8d1c;
	outline-offset: 5px;
	outline-style: dotted;
	outline-width: 2px;
}

.event-item a:active {
	transform: scaleX(0.95);
}

#upcoming-events-section .event-item a {
	background-color: gold;
	color: black;
}

#past-events-section .event-item a {
	background-color: #495057;
}

@media screen and (max-width: 960px) {
	.event-item {
		width: calc(50% - 32px);
	}
}

@media screen and (max-width: 600px) {
	.events-title {
		text-align: center;
	}

	.events-section {
		flex-direction: column;
	}

	.event-item {
		width: calc(100% - 32px);
	}
}
