.events-section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0;
}

.event-item {
	position: relative;
	width: calc(50% - 32px);
	min-height: 140px;
	margin: 16px;
	padding: 16px;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px, rgba(0, 0, 0, 0.11) 0px 6.4px 14.4px;
}

.event-item div {
	color: #78757f;
	font-style: italic;
}

.event-item a {
	position: absolute;
	right: 16px;
	bottom: 16px;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 4px 8px;
	border-radius: 8px;
}

.event-item a:hover {
	opacity: 0.8;
}

#upcoming-events-section .event-item a {
	background-color: #6fffe9;
	color: black;
}

#past-events-section .event-item a {
	background-color: #495057;
}

@media screen and (max-width: 768px) {
	.events-title {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.events-section {
		flex-direction: column;
	}

	.event-item {
		width: calc(100% - 32px);
	}
}
